@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&family=Nanum+Pen+Script&display=swap');
/* font-family: 'Playfair Display', serif */
/* font-family: 'Mukta', sans-serif;font-family: 'Nanum Pen Script' */

html, body {width: 100%; height: 100vh; overflow: hidden;}
.main-wrapper {width: 400%; display: flex; position: absolute; top: 0; left: 0;}
.main-wrapper .page-wrapper {flex: 25% 0 0;}


.wrapper{max-width: 1700px; margin: auto;}
.active{color: #fe2827;}
.wit{color: #f8f8f8;}

.top-wrap{display: flex; justify-content: space-between; height: 100px; align-items: center; width: 100%; position: fixed; left: 0; top: 0; padding: 70px 100px;}
.logo >img{width: 70px}
.top-wrap .nav{width: 400px; font-size: 1.25em;}
.top-wrap .nav > .navs{width: 25%}

.top-wrap2{display: flex; justify-content: space-between; height: 100px; align-items: center; color: #f8f8f8;}
.logo >img{width: 70px}
.top-wrap2 .nav{width: 400px; font-size: 1.25em;}
.top-wrap2 .nav > .navs{width: 25%}


.header-wrapper{ position: relative; height: 100vh; /* overflow-x: scroll; *//*  display: flex; flex-wrap: wrap; */
background-image: url(../img/BG-Z.jpg);
background-attachment: fixed;}

.header-wrapper .main-title{margin: 15em 0; font-family: 'Playfair Display', serif; }
.header-wrapper .main-title .title > h2{font-size: 5em;}
.header-wrapper .main-title .title > h2 > .t{font-size: 1.25em;}
.header-wrapper .main-title .title > h2 > .r{color: #fe2827;}

.header-wrapper .pic{position: absolute; right: 0; top: 240px; display: flex; flex-direction: column; height: 600px;}
.header-wrapper .pic > img{width: 300px; height: 500px;}
.header-wrapper .pic .scroll{position: absolute;bottom: 0; right: 40px; font-size: 1.5em;}
.header-wrapper .pic .scroll > span{padding: 0.5em; font-family: 'Mukta', sans-serif;font-family: 'Nanum Pen Script', cursive; font-style: italic; }
.header-wrapper .pic .scroll > i{cursor: pointer;}

.header-wrapper .Loading-wrap{position: absolute;left: 0; bottom: 0; height: 30px; width: 100%}
.header-wrapper .Loading-wrap .Loading-bar{position: absolute;bottom: 0; background-color: #fe2827; width: 25%;  height: 100%;}

.project{background-color: #1e1e1e; height: 100vh; width: 100%; position: relative;}
.project .pjv-wrap{display: flex; height: 300px;}
.project .pjv-wrap img{/* display: none; */ position: absolute;}
.project .pjv-wrap h1{color: #ffff; z-index: 9999; font-family: 'Playfair Display', serif; font-size: 6em; position: absolute;}
.project .pjv-wrap .pu{left: 350px; top: 630px; width: 500px; height: 400px;}
.project .pjv-wrap .fr{left: 1250px; top: 430px; width: 500px; height: 400px;}
.project .pjv-wrap .ba{left: 220px; top: 530px; width: 500px; height: 400px;}
.project .pjv-wrap .da{left: 1200px; top: 430px; width: 500px; height: 400px;}
.project .pjv-wrap .pjv1> img{left: 250px; top: 300px; width: 500px; height: 400px;}
.project .pjv-wrap .pjv2> img{left: 1200px; top: 500px; width: 500px; height: 400px;}
.project .pjv-wrap .pjv3> img{left: 200px; top: 200px; width: 500px; height: 400px;}
.project .pjv-wrap .pjv4> img{left: 1100px; top: 500px; width: 500px; height: 400px;}

.about-wrapper { height: 100vh; position: relative; width: 100%;}
.about-wrapper .about .about-title .about-h{}
.about-wrapper .about .about-title .about-h > h2{font-size: 4.5em; font-family: 'Playfair Display', serif; padding: 1em 0 0.5em 0;}
.about-wrapper .about .about-title .about-s > h2{font-size: 4.5em; font-family: 'Playfair Display', serif; padding: 0.5em 0 0.5em 0;}
.about-wrapper .about .about-title .about-h > p{font-size: 3em; font-weight: 350;}
.about-wrapper .about .about-title .about-s .Pubilshing .img-wrap >li >img{ width: 50px; height: 50px;}
.about-wrapper .about .about-title .about-s .FrontEnd .img-wrap >li >img{ width: 50px; height: 50px;}
.about-wrapper .about .about-title .about-s .BackEnd .img-wrap >li >img{ width: 50px; height: 50px;}
.about-wrapper .about .about-title .about-s .FrontEnd >li >img{ width: 50px; height: 50px;}
.about-wrapper .about .about-title .about-s .BackEnd >li >img{ width: 50px; height: 50px;}
.about-wrapper .about .about-title .about-s .about-wrap{display: flex; }
.about-wrapper .about .about-title .about-s .Pubilshing{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-wrapper .about .about-title .about-s .FrontEnd{display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-wrapper .about .about-title .about-s .BackEnd {display: flex; flex-direction: column; justify-content: center; align-items: center;}
.about-wrapper .about .about-title .about-s .img-wrap{display: flex;}
.about-wrapper .about  span{font-size: 1.75em; padding: 1em 0 2.75em 0;}
.about-wrapper .about .about-s ul{border-right: 1px solid #777; flex: 33.3333%;}
.about-wrapper .about .about-s ul:last-child{border-right: none}

.contact{ position: absolute; right: 0; top: 0; width: 600px; height: 100%; background-color: #262626; display: flex; flex-direction: column; justify-content: center; padding:0 3em ; }
.contact .title{font-size: 5.5em; font-family: 'Playfair Display', serif;}
.contact .title-s{font-size: 3em; padding-top: 2.5em;}